<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modo de vida</title>
</head>
<body>
    <h1>
        La buena suerte es el sitio donde confluyen la preparacion y la oportunidad
    </h1> 
    <p>
        Estamos viendo este tema el dia {{hora_actual}}. Mi nombre es {{nombre_persona}} y mi apellido es {{apellido_persona}}
    </p>

</body>
</html>


